@font-face{
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

body{
  background-image: url('../img/bg.jpg');
  background-size:cover;
  padding:0;
  margin:0;
  z-index:-2;
  width:100%;
}

div#overlay{
  background-color: rgba(255,255,255,0.6);
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  margin:0;
  z-index:-1;
}
.dot{
  width:15px;
  border-radius:100%;
  height:15px;
  background-color:black;
  margin: 15px;
}

table{
  margin: 0 auto;
}

.active div:nth-child(1){
  background-color: rgb(0,177,177);
}

td{
  position:relative;
}

.left-blue{
  width: 53px;
  height:4px;
  background-color:blue;
  position:absolute;
  top: 22.5px;
  right:50%;
  z-index: -2;
}
.right-blue{
  width: 53px;
  height:4px;
  background-color:blue;
  position:absolute;
  top: 22.5px;
  left:50%;
  z-index: -2;
}
.up-blue{
  width: 4px;
  height: 53px;
  background-color:blue;
  position:absolute;
  bottom: 50%  ;
  right: 22.5px;
  z-index: -2;
}
.down-blue{
  width: 4px;
  height: 53px;
  background-color:blue;
  position:absolute;
  top: 50%  ;
  right: 22.5px;
  z-index: -2;
}

.left-red{
  width: 53px;
  height:4px;
  background-color:red;
  position:absolute;
  top: 22.5px;
  right:50%;
  z-index: -2;
}
.right-red{
  width: 53px;
  height:4px;
  background-color:red;
  position:absolute;
  top: 22.5px;
  left:50%;
  z-index: -2;
}
.up-red{
  width: 4px;
  height: 53px;
  background-color:red;
  position:absolute;
  bottom: 50%  ;
  right: 22.5px;
  z-index: -2;
}
.down-red{
  width: 4px;
  height: 53px;
  background-color:red;
  position:absolute;
  top: 50%  ;
  right: 22.5px;
  z-index: -2;
}

h1, h3{
  text-align:center;
  font-family: 'Josefin Sans';
}
